*~
,*
*_flymake.css
/test/smoketest.html
/tools/lib/cachedir/
/docs/RELEASENOTES.html
/ext/tests/
/local/
/.gradle/
/gentext/build/
/build/
/src/main/resources/xslt/
/src/main/resources/etc/version.properties
