div.numbered-verbatim {
   background: #f5f2f0;
   margin-top: 1em;
   margin-bottom: 1em;
}

div.unnumbered-verbatim {
   background: #f5f2f0;
   margin-top: 1em;
   margin-bottom: 1em;
   padding-left: 4.5em;
}

pre.line-numbers {
  width: 3em;
  padding-right: 0.5em;
  margin-right: 1em;
  border-right: 1px solid black;
}

dt.callout a {
  text-decoration: none;
}
