html {
    font-family: "DejaVu Sans", sans-serif;
    font-weight: normal;
    font-size: 20pt;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    color: #414141;
    height: 100%;
    margin: 0;
    padding: 0;
}

.foil {
    height: 100%;
}

.page {
    min-height: 100%;
}

.body {
    overflow: auto;
    padding-bottom: 65px;
    padding-right: 2em;
}

header {
    background-image: url(../img/slides/foil.png);
    background-repeat: no-repeat;
    background-position: left top;
    color: black;
    width: 1005px;
    height: 140px;
}

header h1 {
    font-size: 38pt;
    font-weight: bold;
    padding-top: 40px;
    margin-top: 0px;
    padding-left: 100px;
}

.body {
    padding-left: 100px;
}

footer {
    position: relative;
    background-image: url(../img/slides/footer.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: -65px; /* negative value of footer height */
    height: 65px;
    font-size: 8pt;
    bottom: 0px;
    padding-left: 100px;
    clear: both;
}

img {
    padding-top: 1em;
}

footer .content { padding-top: 35px; }

/* ============================================================ */

.titlefoil header {
    background-image: url(../img/slides/title.png);
    background-repeat: no-repeat;
    background-position: left top;
    color: #414141;
    width: 1005px;
    height: 488px;
}

.titlefoil header h1 {
    font-size: 38pt;
    font-weight: bold;
    padding-top: 525px;
    margin-top: 0px;
    padding-left: 100px;
    font-weight: normal;
}

.titlefoil .body {
    padding-top: 140px;
}

.titlefoil footer {
    display: none;
}

/* ============================================================ */

.foilgroup {
    background-image: url(../img/slides/group.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 1005px;
    height: 768px;
}

.foilgroup header {
    background: none;
    color: #414141;
}

.foilgroup header h1 {
    font-size: 38pt;
    font-weight: bold;
    padding-top: 300px;
    margin-top: 0px;
    padding-left: 100px;
    font-weight: normal;
}

.foilgroup .body {
    padding-top: 250px;
}

.foilgroup footer {
    display: none;
}

/* ============================================================ */

.foilinset {
    border: solid black 1px;
    padding: 1em;
    margin-left: 3em;
    width: 40%;
    float: right;
    font-size: 10pt;
}

/* ============================================================ */

.helpdialog {
    font-size: 12pt;
}

/* ============================================================ */

.timestamp {
    position: absolute;
    font-size: 8pt;
    right: 0px;
    bottom: 0px;
}

.shout {
    font-size: 128px;
    text-align: center;
    padding-top: 20%;
}

.delta {
    background-color: #FFAAAA;
    font-weight: bold;
}

.credit {
    font-size: 12px;
    color: #AAAAAA;
}

.credit a {
    color: #AAAAAA;
}

.xmldoc {
    color: #aaaaaa;
}

.xmldoc span {
    color: black;
}

div.sidebar {
    border: solid #aaaaaa 1px;
    border-radius: 12px;
    padding-left: 1em;
}

em {
    font-style: normal;
    color: #8A9941;
}

.toc a,
.toc a:visited {
    text-decoration: none;
}

a,
a:visited {
    color: inherit;
}

.strike {
    text-decoration: line-through;
    color: black;
}

.gray {
    color: #BBBBBB;
}

.ui-dialog {
    font-size: 12pt;
}

.clicknav {
    position: absolute;
    top: 0;
    right: 0;
}

.shownav {
    position: absolute;
    top: 0;
    right: 0;
}

/* ============================================================ */

.timer {
    position: relative;
    top: 40;
    left: -80;
    height: 0px;
    width: 0px;
    font-size: 8pt;
    font-weight: medium;
}

.overtime {
    color: red;
    font-style: normal;
}

.lowtime {
    font-style: italic;
}

/* ============================================================ */

@media print
{
    .newpage {
        page-break-before: always;
    }
}
