html {
   background-color: #fffff8;
   color: #111111;
}

table.diffs {
   table-layout: fixed;
   width: 100%;
   border-spacing: 0px;
}

table.diffs > thead > tr > th {
   text-align: left;
   padding-bottom: 0.25em;
   border-bottom: 1px solid black;
   padding-left: 0.5em;
   padding-right: 1em;
}

table.diffs > thead > tr > th+th {
   border-left: 1px solid black;
}

table.diffs > tbody > tr > td {
   vertical-align: top;
   padding-top: 0.5em;
   padding-left: 0.5em;
   padding-right: 1em;
}

table.diffs > tbody > tr > td+td {
   border-left: 1px solid black;
}

table.diffs > tbody > tr > td,
table.diffs > thead > tr > th {
   width: 50%;
   overflow-x: scroll;
}

/*
pre   { color: #777; }
.tag  { color: black; }
.att  { color: #777; }
.diff { color: red }
*/
.diff     { background-color: #FFFFAA; }
.basediff { background-color: #FF0000; }
.del      { background-color: #FFAAAA; }
.add      { background-color: #AAFFAA; }
.txtchg   { background-color: #AAFFFF; }
.attchg   { background-color: #AAFFFF; }
.nodiff   { background-color: #f5f2f0; }

pre.show-diff {
   background-color: #f5f2f0;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   line-height: 1em;
   max-height: 80vh;
   overflow-y: scroll;
}

#testresults {
   border-top: 1px solid black;
   margin-bottom: 1em;
}

#testresults thead {
   background-color: #777777;
   color: white;
}

#testresults thead tr th,
#testresults tbody tr td {
   border-right: 1px solid black;
   border-bottom: 1px solid black;
}

#testresults thead tr th:first-child,
#testresults tbody tr td:first-child {
   border-left: 1px solid black;
}

#testresults tbody tr td:nth-child(2) {
   text-align: right;
   padding-right: 1em;
}
