.dirlist {
  font-family: monospace;
}

dt.toggleClosed:before {
    content: "\25B6 ";
    cursor: pointer;
}

dt.toggleOpen:before {
    content: "\25BC ";
    cursor: pointer;
}

dt.dir {
    cursor: pointer;
}

dd.toggleClosed {
    display: none;
}
